org: blogify
app: blogify
service: blogify

custom:
  usersTableName: ${sls:stage}-blogify-users

stages:
  default:
    params:
      tableName: "users-table-${sls:stage}"

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-3
  httpApi:
    cors: true
  environment:
    USERS_TABLE: ${self:custom.usersTableName}
    JWT_SECRET: "Paulette super secrete"
  # iamRoleStatements:
  #   - Effect: Allow
  #     Action:
  #       - dynamodb:PutItem
  #       - dynamodb:Query
  #     Resource:
  #       - arn:aws:dynamodb:${self:provider.region}:*:table/${self:custom.usersTableName}
  #       - arn:aws:dynamodb:${self:provider.region}:*:table/${self:custom.usersTableName}/index/email-index
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [UsersTable, Arn]
            - arn:aws:dynamodb:${self:provider.region}:${aws:accountId}:table/${self:custom.usersTableName}/index/email-index

functions:
  registerUser:
    handler: src/lambda/auth.registerUser
    events:
      - httpApi:
          method: POST
          path: /auth/register

  loginUser:
    handler: src/lambda/auth.loginUser
    events:
      - httpApi:
          method: POST
          path: /auth/login

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usersTableName}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: email-index
            KeySchema:
              - AttributeName: email
                KeyType: HASH
            Projection:
              ProjectionType: ALL
